<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <startup>
      <supportedRuntime version="v4.0"/>
      <supportedRuntime version="v2.0.50727"/>
    </startup>
  <system.net>
    <connectionManagement>
      <add address="*" maxconnection="15"/>
    </connectionManagement>
  </system.net>
  <appSettings>
    <!-- connection settings -->    
    <add key="ServerAddress" value="127.0.0.1:5055" />
    
    
    <!-- Possible Settings: Tcp, Udp, RHttp -->
    <add key="Protocol" value="Udp" />
      
    <add key="Application" value="Master" />
    
    
    <!-- reliable event sending settings -->
    <add key="SendReliableData" value="true" />
    <add key="ReliableDataChannel" value="0" />
    <add key="ReliableDataSendInterval" value="100" />
    <add key="ReliableDataSize" value="60" />
    
    <!-- unreliable event sending settings -->
    <add key="SendUnreliableData" value="false" />
    <add key="UnreliableDataChannel" value="0" />
    <add key="UnreliableDataSendInterval" value="100" />
    <add key="UnreliableDataSize" value="6" />
    
    <add key="FlushInterval" value="60000" />
    <add key="FlushReliable" value="true" />
    <add key="FlushChannel" value="0" />
    
    <add key="TestCase" value="Default" />

    <!-- game settings, useful especially for application Lite -->
    <add key="NumClientsPerGame" value="3" />
    <add key="NumGames" value="5" />
    
    <!-- join, quit and disconnect interval in seconds; 0 = stay in game forever -->
    <add key="TimeInGame" value="0" />
    
    <!-- true to disconnect actively after each quit, otherwise let connection timeout from server -->
    <add key="ActiveDisconnect" value="true" />
    <add key="UseEncryption" value="false"/>
    <add key="PingInterval" value="50"/>
    <add key="StartupInterval" value="150"/>

    <!--add key="VirtualAppId" value="" /-->
    
  </appSettings>
</configuration>