Maple Fighters/Temp/
Maple Fighters/Library/il2cpp_cache/
Maple Fighters/Library/ShaderCache/
Maple Fighters/Library/webgl_cache/
Maple Fighters/Library/metadata/
Maple Fighters/Library/PlayerDataCache/
