<?xml version="1.0" encoding="Windows-1252"?>
<Configuration>
	<Game DisplayName="Game" MaxMessageSize="512000" MaxQueuedDataPerPeer="512000" MaximumTimeout="30000" MinimumTimeout="5000" PerPeerMaxReliableDataInTransit="51200" PerPeerTransmitRateLimitKBSec="256" PerPeerTransmitRatePeriodMilliseconds="200">
		<UDPListeners>
			<UDPListener 
			IPAddress="0.0.0.0" 
			OverrideApplication="Game" 
			Port="5055">
			</UDPListener>
		</UDPListeners>
		
		<Runtime Assembly="PhotonHostRuntime, Culture=neutral" Type="PhotonHostRuntime.PhotonDomainManager" UnhandledExceptionPolicy="Ignore">
		</Runtime>
		
		<Applications Default="Game">
			<Application 
			Assembly="Game.PhotonStarter" 
			BaseDirectory="Servers\Game" 
			ExcludeFiles="log4net.config"
			Name="Game" 
			Type="Game.PhotonStarter.PhotonStarter" 
			WatchFiles="dll;config">
			</Application>
		</Applications>
	</Game>
	
	<Chat DisplayName="Chat" MaxMessageSize="512000" MaxQueuedDataPerPeer="512000" MaximumTimeout="30000" MinimumTimeout="5000" PerPeerMaxReliableDataInTransit="51200" PerPeerTransmitRateLimitKBSec="256" PerPeerTransmitRatePeriodMilliseconds="200">
		<UDPListeners>
			<UDPListener 
			IPAddress="0.0.0.0" 
			OverrideApplication="Chat" 
			Port="5056">
			</UDPListener>
		</UDPListeners>
		
		<Runtime Assembly="PhotonHostRuntime, Culture=neutral" Type="PhotonHostRuntime.PhotonDomainManager" UnhandledExceptionPolicy="Ignore">
		</Runtime>
		
		<Applications Default="Chat">
			<Application 
			Assembly="Chat.PhotonStarter" 
			BaseDirectory="Servers\Chat" 
			ExcludeFiles="log4net.config"
			Name="Chat" 
			Type="Chat.PhotonStarter.PhotonStarter" 
			WatchFiles="dll;config">
			</Application>
		</Applications>
	</Chat>
	
	<Login DisplayName="Login" MaxMessageSize="512000" MaxQueuedDataPerPeer="512000" MaximumTimeout="30000" MinimumTimeout="5000" PerPeerMaxReliableDataInTransit="51200" PerPeerTransmitRateLimitKBSec="256" PerPeerTransmitRatePeriodMilliseconds="200">
		<UDPListeners>
			<UDPListener 
			IPAddress="0.0.0.0" 
			OverrideApplication="Login" 
			Port="5057">
			</UDPListener>
		</UDPListeners>
		
		<Runtime Assembly="PhotonHostRuntime, Culture=neutral" Type="PhotonHostRuntime.PhotonDomainManager" UnhandledExceptionPolicy="Ignore">
		</Runtime>
		
		<Applications Default="Login">
			<Application 
			Assembly="Login.PhotonStarter" 
			BaseDirectory="Servers\Login" 
			ExcludeFiles="log4net.config"
			Name="Login" 
			Type="Login.PhotonStarter.PhotonStarter" 
			WatchFiles="dll;config">
			</Application>
		</Applications>
	</Login>
	
	<Registration DisplayName="Registration" MaxMessageSize="512000" MaxQueuedDataPerPeer="512000" MaximumTimeout="30000" MinimumTimeout="5000" PerPeerMaxReliableDataInTransit="51200" PerPeerTransmitRateLimitKBSec="256" PerPeerTransmitRatePeriodMilliseconds="200">
		<UDPListeners>
			<UDPListener 
			IPAddress="0.0.0.0" 
			OverrideApplication="Registration" 
			Port="5058">
			</UDPListener>
		</UDPListeners>
		
		<Runtime Assembly="PhotonHostRuntime, Culture=neutral" Type="PhotonHostRuntime.PhotonDomainManager" UnhandledExceptionPolicy="Ignore">
		</Runtime>
		
		<Applications Default="Registration">
			<Application 
			Assembly="Registration.PhotonStarter" 
			BaseDirectory="Servers\Registration" 
			ExcludeFiles="log4net.config"
			Name="Registration" 
			Type="Registration.PhotonStarter.PhotonStarter" 
			WatchFiles="dll;config">
			</Application>
		</Applications>
	</Registration>
	
	<Character DisplayName="Character" MaxMessageSize="512000" MaxQueuedDataPerPeer="512000" MaximumTimeout="30000" MinimumTimeout="5000" PerPeerMaxReliableDataInTransit="51200" PerPeerTransmitRateLimitKBSec="256" PerPeerTransmitRatePeriodMilliseconds="200">		
		<TCPListeners>
			<TCPListener 
			IPAddress="0.0.0.0" 
			InactivityTimeout="10000" 
			OverrideApplication="Character" 
			PolicyFile="Policy\assets\socket-policy.xml" 
			Port="4536">
			</TCPListener>
		</TCPListeners>

		<Runtime Assembly="PhotonHostRuntime, Culture=neutral" Type="PhotonHostRuntime.PhotonDomainManager" UnhandledExceptionPolicy="Ignore">
		</Runtime>
		
		<Applications Default="Character">
			<Application 
			Assembly="Character.PhotonStarter" 
			BaseDirectory="Servers\Character Service" 
			ExcludeFiles="log4net.config"
			Name="Character" 
			Type="Character.PhotonStarter.PhotonStarter" 
			WatchFiles="dll;config">
			</Application>
		</Applications>
	</Character>
	
	<Authorization DisplayName="Authorization" MaxMessageSize="512000" MaxQueuedDataPerPeer="512000" MaximumTimeout="30000" MinimumTimeout="5000" PerPeerMaxReliableDataInTransit="51200" PerPeerTransmitRateLimitKBSec="256" PerPeerTransmitRatePeriodMilliseconds="200">
		<TCPListeners>
			<TCPListener 
			IPAddress="0.0.0.0" 
			InactivityTimeout="10000" 
			OverrideApplication="Authorization" 
			PolicyFile="Policy\assets\socket-policy.xml" 
			Port="4537">
			</TCPListener>
		</TCPListeners>
		
		<Runtime Assembly="PhotonHostRuntime, Culture=neutral" Type="PhotonHostRuntime.PhotonDomainManager" UnhandledExceptionPolicy="Ignore">
		</Runtime>
		
		<Applications Default="Authorization">
			<Application 
			Assembly="Authorization.PhotonStarter" 
			BaseDirectory="Servers\Authorization Service" 
			ExcludeFiles="log4net.config"
			Name="Authorization" 
			Type="Authorization.PhotonStarter.PhotonStarter" 
			WatchFiles="dll;config">
			</Application>
		</Applications>
	</Authorization>
	
	<GameServerProvider DisplayName="GameServerProvider" MaxMessageSize="512000" MaxQueuedDataPerPeer="512000" MaximumTimeout="30000" MinimumTimeout="5000" PerPeerMaxReliableDataInTransit="51200" PerPeerTransmitRateLimitKBSec="256" PerPeerTransmitRatePeriodMilliseconds="200">
		<UDPListeners>
			<UDPListener 
			IPAddress="0.0.0.0" 
			OverrideApplication="GameServerProvider" 
			Port="5061">
			</UDPListener>
		</UDPListeners>
		
		<TCPListeners>
			<TCPListener 
			IPAddress="0.0.0.0" 
			InactivityTimeout="10000" 
			OverrideApplication="GameServerProvider" 
			PolicyFile="Policy\assets\socket-policy.xml" 
			Port="4538">
			</TCPListener>
		</TCPListeners>
		
		<Runtime Assembly="PhotonHostRuntime, Culture=neutral" Type="PhotonHostRuntime.PhotonDomainManager" UnhandledExceptionPolicy="Ignore">
		</Runtime>
		
		<Applications Default="GameServerProvider">
			<Application 
			Assembly="GameServerProvider.PhotonStarter" 
			BaseDirectory="Servers\GameServerProvider Service" 
			ExcludeFiles="log4net.config"
			Name="GameServerProvider" 
			Type="GameServerProvider.PhotonStarter.PhotonStarter" 
			WatchFiles="dll;config">
			</Application>
		</Applications>
	</GameServerProvider>
	
	<UserProfile DisplayName="UserProfile" MaxMessageSize="512000" MaxQueuedDataPerPeer="512000" MaximumTimeout="30000" MinimumTimeout="5000" PerPeerMaxReliableDataInTransit="51200" PerPeerTransmitRateLimitKBSec="256" PerPeerTransmitRatePeriodMilliseconds="200">
		<TCPListeners>
			<TCPListener 
			IPAddress="0.0.0.0" 
			InactivityTimeout="10000" 
			OverrideApplication="UserProfile" 
			PolicyFile="Policy\assets\socket-policy.xml" 
			Port="4539">
			</TCPListener>
		</TCPListeners>
		
		<Runtime Assembly="PhotonHostRuntime, Culture=neutral" Type="PhotonHostRuntime.PhotonDomainManager" UnhandledExceptionPolicy="Ignore">
		</Runtime>
		
		<Applications Default="UserProfile">
			<Application 
			Assembly="UserProfile.PhotonStarter" 
			BaseDirectory="Servers\UserProfile Service" 
			ExcludeFiles="log4net.config"
			Name="UserProfile" 
			Type="UserProfile.PhotonStarter.PhotonStarter" 
			WatchFiles="dll;config">
			</Application>
		</Applications>
	</UserProfile>
	
	<Server1 DisplayName="Server1" MaxMessageSize="512000" MaxQueuedDataPerPeer="512000" MaximumTimeout="30000" MinimumTimeout="5000" PerPeerMaxReliableDataInTransit="51200" PerPeerTransmitRateLimitKBSec="256" PerPeerTransmitRatePeriodMilliseconds="200">
		<UDPListeners>
			<UDPListener 
			IPAddress="0.0.0.0" 
			OverrideApplication="Server1" 
			Port="5059">
			</UDPListener>
		</UDPListeners>
		
		<TCPListeners>
			<TCPListener 
			IPAddress="0.0.0.0" 
			InactivityTimeout="10000" 
			OverrideApplication="Server1" 
			PolicyFile="Policy\assets\socket-policy.xml" 
			Port="4534">
			</TCPListener>
		</TCPListeners>
		
		<WebSocketListeners>
			<WebSocketListener
				IPAddress="0.0.0.0"
				Port="9094"
				DisableNagle="true"
				InactivityTimeout="10000"
				OverrideApplication="Server1">
			</WebSocketListener>
		</WebSocketListeners>
		
		<Runtime Assembly="PhotonHostRuntime, Culture=neutral" Type="PhotonHostRuntime.PhotonDomainManager" UnhandledExceptionPolicy="Ignore">
		</Runtime>
		
		<Applications Default="Server1">
			<Application 
			Assembly="Server1.PhotonStarter" 
			BaseDirectory="Servers\Server1" 
			ExcludeFiles="log4net.config"
			Name="Server1" 
			Type="Server1.PhotonStarter.PhotonStarter" 
			WatchFiles="dll;config">
			</Application>
		</Applications>
	</Server1>
	
	<Server2 DisplayName="Server2" MaxMessageSize="512000" MaxQueuedDataPerPeer="512000" MaximumTimeout="30000" MinimumTimeout="5000" PerPeerMaxReliableDataInTransit="51200" PerPeerTransmitRateLimitKBSec="256" PerPeerTransmitRatePeriodMilliseconds="200">
		<UDPListeners>
			<UDPListener 
			IPAddress="0.0.0.0" 
			OverrideApplication="Server2" 
			Port="5060">
			</UDPListener>
		</UDPListeners>
		
		<TCPListeners>
			<TCPListener 
			IPAddress="0.0.0.0" 
			InactivityTimeout="10000" 
			OverrideApplication="Server2" 
			PolicyFile="Policy\assets\socket-policy.xml" 
			Port="4535">
			</TCPListener>
		</TCPListeners>
		
		<WebSocketListeners>
			<WebSocketListener
				IPAddress="0.0.0.0"
				Port="9096"
				DisableNagle="true"
				InactivityTimeout="10000"
				OverrideApplication="Server2">
			</WebSocketListener>
		</WebSocketListeners>
		
		<Runtime Assembly="PhotonHostRuntime, Culture=neutral" Type="PhotonHostRuntime.PhotonDomainManager" UnhandledExceptionPolicy="Ignore">
		</Runtime>
		
		<Applications Default="Server2">
			<Application 
			Assembly="Server2.PhotonStarter" 
			BaseDirectory="Servers\Server2" 
			ExcludeFiles="log4net.config"
			Name="Server2" 
			Type="Server2.PhotonStarter.PhotonStarter" 
			WatchFiles="dll;config">
			</Application>
		</Applications>
	</Server2>
</Configuration>