<?xml version="1.0" encoding="Windows-1252"?>
<Configuration>
	<Game DisplayName="Game" MaxMessageSize="512000" MaxQueuedDataPerPeer="512000" MaximumTimeout="30000" MinimumTimeout="5000" PerPeerMaxReliableDataInTransit="51200" PerPeerTransmitRateLimitKBSec="256" PerPeerTransmitRatePeriodMilliseconds="200">
		<UDPListeners>
			<UDPListener 
			IPAddress="0.0.0.0" 
			OverrideApplication="Game" 
			Port="5055">
			</UDPListener>
		</UDPListeners>
		
		<TCPListeners>
			<TCPListener 
			IPAddress="0.0.0.0" 
			InactivityTimeout="10000" 
			OverrideApplication="Game" 
			PolicyFile="Policy\assets\socket-policy.xml" 
			Port="4530">
			</TCPListener>
		</TCPListeners>
		
		<WebSocketListeners>
			<WebSocketListener
				IPAddress="0.0.0.0"
				Port="9090"
				DisableNagle="true"
				InactivityTimeout="10000"
				OverrideApplication="Game">
			</WebSocketListener>
		</WebSocketListeners>
		
		<Runtime Assembly="PhotonHostRuntime, Culture=neutral" Type="PhotonHostRuntime.PhotonDomainManager" UnhandledExceptionPolicy="Ignore">
		</Runtime>
		
		<Applications Default="Game">
			<Application 
			Assembly="Game.PhotonStarter" 
			BaseDirectory="Servers\Game" 
			ExcludeFiles="log4net.config"
			Name="Game" 
			Type="Game.PhotonStarter.PhotonStarter" 
			WatchFiles="dll;config">
			</Application>
		</Applications>
	</Game>
	
	<Chat DisplayName="Chat" MaxMessageSize="512000" MaxQueuedDataPerPeer="512000" MaximumTimeout="30000" MinimumTimeout="5000" PerPeerMaxReliableDataInTransit="51200" PerPeerTransmitRateLimitKBSec="256" PerPeerTransmitRatePeriodMilliseconds="200">
		<UDPListeners>
			<UDPListener 
			IPAddress="0.0.0.0" 
			OverrideApplication="Chat" 
			Port="5056">
			</UDPListener>
		</UDPListeners>
		
		<TCPListeners>
			<TCPListener 
			IPAddress="0.0.0.0" 
			InactivityTimeout="10000" 
			OverrideApplication="Chat" 
			PolicyFile="Policy\assets\socket-policy.xml" 
			Port="4531">
			</TCPListener>
		</TCPListeners>
		
		<WebSocketListeners>
			<WebSocketListener
				IPAddress="0.0.0.0"
				Port="9091"
				DisableNagle="true"
				InactivityTimeout="10000"
				OverrideApplication="Chat">
			</WebSocketListener>
		</WebSocketListeners>
		
		<Runtime Assembly="PhotonHostRuntime, Culture=neutral" Type="PhotonHostRuntime.PhotonDomainManager" UnhandledExceptionPolicy="Ignore">
		</Runtime>
		
		<Applications Default="Chat">
			<Application 
			Assembly="Chat.PhotonStarter" 
			BaseDirectory="Servers\Chat" 
			ExcludeFiles="log4net.config"
			Name="Chat" 
			Type="Chat.PhotonStarter.PhotonStarter" 
			WatchFiles="dll;config">
			</Application>
		</Applications>
	</Chat>
</Configuration>