<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PhotonControl.PhotonControlSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>

    <startup>
      <supportedRuntime version="v4.5"/>
      <supportedRuntime version="v4.0"/>
      <supportedRuntime version="v2.0.50727"/>
    </startup>

    <userSettings>
      <PhotonControl.PhotonControlSettings>
        <setting name="PhotonWorkingDirectory" serializeAs="String">
          <value />
        </setting>
        <setting name="LogManCreateOptions" serializeAs="String">
          <value>-si 01:00 -v mmddhhmm -cf "..\bin_tools\perfmon\logman.config.txt"</value>
        </setting>
        <setting name="LogManSetName" serializeAs="String">
          <value>photon_perf_log</value>
        </setting>
        <setting name="Compact" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="TestClientArguments" serializeAs="String">
          <value>Master</value>
        </setting>
        <setting name="TestClientPaths" serializeAs="String">
          <value>..\bin_tools\stardust.client\Photon.StarDust.Client.exe</value>
        </setting>
        <setting name="Instances" serializeAs="String">
          <value>LoadBalancing (MyCloud)</value>
        </setting>
        <setting name="GameServerConfigPaths" serializeAs="String">
          <value>..\Loadbalancing\GameServer\bin\Photon.LoadBalancing.dll.config</value>
        </setting>
        <setting name="ReplaceFirewallRules" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="UseCmdFileToOpenLogs" serializeAs="String">
          <value>False</value>
        </setting>
      </PhotonControl.PhotonControlSettings>
    </userSettings>
</configuration>