<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonCommunicationInterfaces" version="4.3.0" targetFramework="net46" />
  <package id="Coroutines" version="5.0.5" targetFramework="net46" />
  <package id="PhotonCommonImplementation" version="2.1.0" targetFramework="net46" />
  <package id="PhotonServerImplementation" version="3.0.0" targetFramework="net46" />
  <package id="ServerCommunicationInterfaces" version="2.0.0" targetFramework="net46" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net46" />
</packages>